Cloud_NodeRed.txt
[{"id":"e0105210.c18ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"212ee56e.5094c2","type":"ibmiot in","z":"e0105210.c18ae","authentication":"apiKey","apiKey":"9ec32fb5.f18868","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"SmartHomeGateway","applicationId":"","deviceType":"IoT_Gateway","eventType":"SensorsValues","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":180,"wires":[["e848a765.7dac8"]]},{"id":"5a95e788.86365","type":"function","z":"e0105210.c18ae","name":"","func":"var motion = msg.payload[0];\nvar locationHusband = msg.payload[1];\nvar locationWife = msg.payload[2];\nvar time1 = msg.payload[3];\nvar day = msg.payload[4];\nvar motionpro;\nvar locationHusbandpro;\nvar locationWifepro;\nvar time1pro;\nvar daypro;\nvar pro;\nvar comm;\n\nif( motion == 1){\n    motionpro = 0.7  * 0.35;\n}\nelse {\n    motionpro = 0.3 * 0.35;\n}\n\nif( locationHusband == 1){\n    locationHusbandpro = 0.2 * 0.5 * 0.6;\n}\nelse {\n    locationHusbandpro = 0.2 * 0.5 * 0.4;\n}\n\nif( locationWife == 1){\n    locationWifepro = 0.2 * 0.5 * 0.6;\n}\nelse {\n    locationWifepro = 0.2 * 0.5 * 0.4;\n}\n\nif( 0 <= time1 <12){\n    time1pro = 0.3 * 0.3;\n}\nelse if( 12 <= time1 < 18 ) {\n    time1pro = 0.3 * 0.1;\n}\nelse{\n    time1pro = 0.3 * 0.6;\n}\n\nif( day == 1){\n    daypro= 0.15 * 0.4;\n}\nelse {\n    daypro= 0.15 * 0.6;\n}\n\npro =  motionpro + locationHusbandpro + locationWifepro + time1pro + daypro;\n//pro = parseFloat(pro.toFixed(2));\n\nif (pro >= 0.5){\n    comm = 'turn on'\n}\nelse if (pro <0.5){\n    comm = 'turn off'\n}\n\nmsg.payload = comm;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":80,"wires":[["1eef204e.4368e","29e55c1b.4374f4"]]},{"id":"e848a765.7dac8","type":"switch","z":"e0105210.c18ae","name":"","property":"payload.d[6]","propertyType":"msg","rules":[{"t":"eq","v":"light","vt":"str"},{"t":"neq","v":"light","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":230,"y":160,"wires":[["5a95e788.86365"],["a18f131c.0b373"]]},{"id":"1eef204e.4368e","type":"debug","z":"e0105210.c18ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":20,"wires":[]},{"id":"436829c6.a71fd8","type":"function","z":"e0105210.c18ae","name":"","func":"\nvar motion = msg.payload[0];\nvar temp = msg.payload[1];\nvar locationHusband = msg.payload[2];\nvar locationWife = msg.payload[3];\nvar time1 = msg.payload[4];\nvar motionpro;\nvar temppro;\nvar locationHusbandpro;\nvar locationWifepro;\nvar time1pro;\nvar pro;\n\nif( motion == 1){\n    motionpro = 0.7  * 0.4;\n}\nelse {\n    motionpro = 0.3 * 0.4;\n}\n\nif( temp <= 28){\n    temppro = 0.1  * 0.3;\n}\nelse {\n    temppro = 0.8 * 0.3;\n}\n\n\n\n\n\nif( locationHusband == 1){\n    locationHusbandpro = 0.2 * 0.5 * 0.6;\n}\nelse {\n    locationHusbandpro = 0.2 * 0.5 * 0.4;\n}\n\nif( locationWife == 1){\n    locationWifepro = 0.2 * 0.5 * 0.6;\n}\nelse {\n    locationWifepro = 0.2 * 0.5 * 0.4;\n}\n\nif( 0 <= time1 <12){\n    time1pro = 0.1 * 0.2;\n}\nelse if( 12 <= time1 < 18 ) {\n    time1pro = 0.1 * 0.4;\n}\nelse{\n    time1pro = 0.1 * 0.4;\n}\n\n\n\npro =  motionpro + temppro + locationHusbandpro + locationWifepro + time1pro;\n\nif (pro >= 0.5){\n    comm = 'turn on'\n}\nelse if (pro <0.5){\n    comm = 'turn off'\n}\n\nmsg.payload = comm;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":340,"wires":[["1abd1bb4.80ba9c","3755bc6.9d18e44"]]},{"id":"166550f5.7435c7","type":"ibmiot out","z":"e0105210.c18ae","authentication":"apiKey","apiKey":"9ec32fb5.f18868","outputType":"cmd","deviceId":"SmartHomeGateway","deviceType":"IoT_Gateway","eventCommandType":"light turn on","format":"buffer ","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":60,"wires":[]},{"id":"d251d95.3d014a8","type":"ibmiot out","z":"e0105210.c18ae","authentication":"apiKey","apiKey":"9ec32fb5.f18868","outputType":"cmd","deviceId":"SmartHomeGateway","deviceType":"IoT_Gateway","eventCommandType":"light turn off","format":"buffer ","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":120,"wires":[]},{"id":"29e55c1b.4374f4","type":"switch","z":"e0105210.c18ae","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"turn on","vt":"str"},{"t":"eq","v":"turn off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":530,"y":100,"wires":[["166550f5.7435c7"],["d251d95.3d014a8"]]},{"id":"3755bc6.9d18e44","type":"debug","z":"e0105210.c18ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":220,"wires":[]},{"id":"ae251839.9c3ab","type":"ibmiot out","z":"e0105210.c18ae","authentication":"apiKey","apiKey":"9ec32fb5.f18868","outputType":"cmd","deviceId":"SmartHomeGateway","deviceType":"IoT_Gateway","eventCommandType":"ac turn on","format":"buffer ","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":260,"wires":[]},{"id":"a8963006.570be8","type":"ibmiot out","z":"e0105210.c18ae","authentication":"apiKey","apiKey":"9ec32fb5.f18868","outputType":"cmd","deviceId":"SmartHomeGateway","deviceType":"IoT_Gateway","eventCommandType":"ac turn off","format":"buffer ","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":320,"wires":[]},{"id":"1abd1bb4.80ba9c","type":"switch","z":"e0105210.c18ae","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"turn on","vt":"str"},{"t":"eq","v":"turn off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":510,"y":300,"wires":[["ae251839.9c3ab"],["a8963006.570be8"]]},{"id":"a18f131c.0b373","type":"delay","z":"e0105210.c18ae","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":260,"wires":[["436829c6.a71fd8"]]},{"id":"9ec32fb5.f18868","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"1jnxp2.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]