Offload_NodeRed.json
[{"id":"16c20332.e278c5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d32a67c9.c2fd","type":"deconz-get","z":"16c20332.e278c5","name":"Light Status","server":"e503d696.15b4b","device":"f0:d1:b8:00:00:10:ef:ce-01","device_name":"Smart plug 1 : Smart plug","state":"0","x":630,"y":140,"wires":[["20febb17.af92bc"]]},{"id":"52159bce.714dc4","type":"deconz-get","z":"16c20332.e278c5","name":"Motion Status","server":"e503d696.15b4b","device":"28:6d:97:00:01:08:b7:50-01-0500","device_name":"Motion Sensor : ZHAPresence","state":"0","x":640,"y":200,"wires":[["b769bc0f.0f1628"]]},{"id":"20febb17.af92bc","type":"function","z":"16c20332.e278c5","name":"Light status 0/1","func":"\nvar x = (msg.payload.on === true)  ?  true  :  false;\n//var x = {payload:msg.payload.on};\n\nif(x === true){\nmsg.payload = 1;\n}\nif(x === false){\nmsg.payload = 0;\n}\nmsg.topic = 'light';\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":860,"y":140,"wires":[["df8bd69b.e2b0b"]]},{"id":"b769bc0f.0f1628","type":"function","z":"16c20332.e278c5","name":"Motion status 0/1","func":"\nvar x = (msg.payload.presence === true)  ?  true  :  false;\n//var x = {payload:msg.payload.on};\nvar y;\nif(x === true){\ny = 1;\n}\nif(x === false){\ny = 0;\n}\nmsg.payload = y;\nmsg.topic = 'motion';\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":200,"wires":[["df8bd69b.e2b0b","1521f82d.109d08"]]},{"id":"1ac05096.6b0f37","type":"function","z":"16c20332.e278c5","name":"Weekday or Weekend","func":"var date;\nvar day;\ndate = new Date();\n//date = (date.getFullYear() + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2) + ' ' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\ndate = date.getDay()\n\n\nmsg.payload = date;\nmsg.topic = 'day';\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":440,"wires":[["df8bd69b.e2b0b"]]},{"id":"6ad8cc00.429644","type":"csv","z":"16c20332.e278c5","name":"","sep":",","hdrin":true,"hdrout":false,"multi":"one","ret":"\\n","temp":"motion, location, time, day, light","skip":"0","strings":true,"x":1370,"y":260,"wires":[["8480b39a.91055"]]},{"id":"8480b39a.91055","type":"file","z":"16c20332.e278c5","name":"Light Dataset","filename":"/home/pi/.node-red/LightDataset.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1520,"y":220,"wires":[["61a640e3.495c08"]]},{"id":"19a90e51.3d170a","type":"function","z":"16c20332.e278c5","name":"Location of Husband","func":"var ipadd = msg.payload[0];\nvar detect;\nif (ipadd ) {\n    detect = 1;\n  \n} else {\n    detect = 0; \n}\n\nmsg.payload = detect;\nmsg.topic = 'locationHusband';\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":260,"wires":[["df8bd69b.e2b0b","1521f82d.109d08"]]},{"id":"63e28bac.50e8b4","type":"arp","z":"16c20332.e278c5","name":"ARP","macs":"e8:36:17:17:64:91","x":610,"y":260,"wires":[["19a90e51.3d170a"]]},{"id":"df8bd69b.e2b0b","type":"function","z":"16c20332.e278c5","name":"storeLights values in Array","func":"context.data = context.data || {};\nswitch (msg.topic) {\n    case \"light\":\n      context.data.light = msg.payload;\n      msg = null; \n      break;\n    case \"motion\":\n      context.data.motion = msg.payload;\n      msg = null; \n      break;\n    case \"locationHusband\":\n      context.data.locationHusband = msg.payload;\n      msg = null; \n      break;\n    case \"locationWife\":\n      context.data.locationWife = msg.payload;\n      msg = null; \n      break;  \n    case \"time1\":\n     context.data.time1 = msg.payload;\n      msg = null; \n      break;\n    case \"day\":\n      context.data.day = msg.payload;\n      msg = null; \n      break;\n    default:\n      msg = null;\n      break;\n\n}\n\nif ((context.data.light !== null || context.data.motion !== null) && context.data.locationHusband != null && context.data.locationWife != null && context.data.time1 != null && context.data.day != null) {\n    var light = context.data.light;\n    var motion = context.data.motion;\n    var locationHusband = context.data.locationHusband;\n    var locationWife = context.data.locationWife;\n    var time1 = context.data.time1;\n    var day = context.data.day;\n    var raw_data = [ motion, locationHusband, locationWife, time1, day, light];\n    context.data = null;\n    return {payload: raw_data};\n} else return msg;\n    \n","outputs":1,"noerr":0,"x":1160,"y":200,"wires":[["6ad8cc00.429644","cc55c27a.a85658","8b018028.fd5188"]]},{"id":"61a640e3.495c08","type":"debug","z":"16c20332.e278c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1790,"y":240,"wires":[]},{"id":"d3dd36c6.4f1cf","type":"function","z":"16c20332.e278c5","name":" Periods of the day","func":"var now = new Date(),\n    hour = now.getHours();\n\nmsg.payload = hour;\nmsg.topic = 'time1';\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":380,"wires":[["df8bd69b.e2b0b","1521f82d.109d08"]]},{"id":"ff83f6db.e38a88","type":"switch","z":"16c20332.e278c5","name":"On/Off light decision","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0.5","vt":"num"},{"t":"lt","v":"0.5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1600,"y":680,"wires":[["5554c9da.7e4398"],["398b9b65.4cdd9c"]]},{"id":"c98b64e1.3f15d8","type":"arp","z":"16c20332.e278c5","name":"ARP","macs":"14:c2:13:95:70:92","x":590,"y":320,"wires":[["d74dd422.28b43"]]},{"id":"d74dd422.28b43","type":"function","z":"16c20332.e278c5","name":"Location of Wife","func":"var ipadd = msg.payload[0];\nvar detect;\nif (ipadd ) {\n    detect = 1;\n  \n} else {\n    detect = 0; \n}\n\nmsg.payload = detect;\nmsg.topic = 'locationWife';\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":320,"wires":[["df8bd69b.e2b0b","1521f82d.109d08"]]},{"id":"fe0b8472.bfdbc8","type":"inject","z":"16c20332.e278c5","name":"Inject","topic":"","payload":"1","payloadType":"num","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":220,"wires":[["d3dd36c6.4f1cf","d32a67c9.c2fd","52159bce.714dc4","63e28bac.50e8b4","1ac05096.6b0f37","c98b64e1.3f15d8","af1adaa5.086b","370b26cf.eea49a"]]},{"id":"1521f82d.109d08","type":"function","z":"16c20332.e278c5","name":"store AC values in Array","func":"context.data = context.data || {};\nswitch (msg.topic) {\n    case \"ac\":\n      context.data.ac = msg.payload;\n      msg = null; \n      break;\n    case \"motion\":\n      context.data.motion = msg.payload;\n      msg = null; \n      break;\n    case \"locationHusband\":\n      context.data.locationHusband = msg.payload;\n      msg = null; \n      break;\n    case \"locationWife\":\n      context.data.locationWife = msg.payload;\n      msg = null; \n      break;  \n    case \"time1\":\n     context.data.time1 = msg.payload;\n      msg = null; \n      break;\n    case \"temp\":\n     context.data.temp = msg.payload;\n      msg = null; \n      break;  \n    default:\n      msg = null;\n      break;\n\n}\n\n\nif ((context.data.temp !== null || context.data.motion !== null || context.data.ac !== null ) && context.data.locationHusband != null && context.data.locationWife != null && context.data.time1 != null) {\n    var ac = context.data.ac;\n    var motion = context.data.motion;\n    var locationHusband = context.data.locationHusband;\n    var locationWife = context.data.locationWife;\n    var time1 = context.data.time1;\n    var temp = context.data.temp * 0.01;\n   \n    var raw_data = [ motion, temp, locationHusband, locationWife, time1, ac];\n    context.data = null;\n    return {payload: raw_data};\n} else return msg;\n","outputs":1,"noerr":0,"x":1150,"y":360,"wires":[["26b3f0cc.0de628","cc55c27a.a85658","4dc9ac01.8d8224"]]},{"id":"af1adaa5.086b","type":"deconz-get","z":"16c20332.e278c5","name":"AC Status","server":"e503d696.15b4b","device":"f0:d1:b8:00:00:10:ef:ce-01","device_name":"Smart plug 1 : Smart plug","state":"0","x":680,"y":560,"wires":[["a6653cda.52753"]]},{"id":"a6653cda.52753","type":"function","z":"16c20332.e278c5","name":"AC status 0/1","func":"\nvar x = (msg.payload.on === true)  ?  true  :  false;\n//var x = {payload:msg.payload.on};\n\nif(x === true){\nmsg.payload = 1;\n}\nif(x === false){\nmsg.payload = 0;\n}\nmsg.topic = 'ac';\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":860,"y":560,"wires":[["1521f82d.109d08"]]},{"id":"26b3f0cc.0de628","type":"csv","z":"16c20332.e278c5","name":"","sep":",","hdrin":true,"hdrout":false,"multi":"one","ret":"\\n","temp":"motion, temp, locationHusband, locationWife, time, ac","skip":"0","strings":true,"x":1370,"y":340,"wires":[["d376cac4.4b37f"]]},{"id":"d376cac4.4b37f","type":"file","z":"16c20332.e278c5","name":"AC Dataset","filename":"/home/pi/.node-red/Temp.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1530,"y":360,"wires":[["1f1aaac3.cbc1ed"]]},{"id":"1f1aaac3.cbc1ed","type":"debug","z":"16c20332.e278c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":360,"wires":[]},{"id":"aab103f6.ee793","type":"exec","z":"16c20332.e278c5","command":"python3  /home/pi/.node-red/LSTM_Light_1.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Execute ML for Light 1","x":1340,"y":700,"wires":[["da847d4.5e99c","ff83f6db.e38a88","cdaabf31.dfbe9"],[],[]]},{"id":"eafaf5ee.ae5b58","type":"deconz-output","z":"16c20332.e278c5","name":"Light","server":"e503d696.15b4b","device":{"length":0,"prevObject":{"length":0,"prevObject":{"0":{"location":{"href":"http://192.168.0.14:1880/#flow/16c20332.e278c5","origin":"http://192.168.0.14:1880","protocol":"http:","host":"192.168.0.14:1880","hostname":"192.168.0.14","port":"1880","pathname":"/","search":"","hash":"#flow/16c20332.e278c5"},"jQuery34103081829355360741":{"events":{"mouseup":[{"type":"mouseup","origType":"mouseup","guid":3,"namespace":""}],"click":[{"type":"click","origType":"click","data":null,"guid":3204,"namespace":""},{"type":"click","origType":"click","data":null,"guid":3217,"namespace":""},{"type":"click","origType":"click","data":null,"guid":3458,"namespace":""},{"type":"click","origType":"click","data":null,"guid":3473,"namespace":""},{"type":"click","origType":"click","data":null,"guid":5596,"namespace":""},{"type":"click","origType":"click","data":null,"guid":5607,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6012,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6023,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6280,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6291,"namespace":""},{"type":"click","origType":"click","guid":6836,"namespace":"red-ui-menu"}]},"focusin":3}},"length":1}}},"device_name":"","command":"on","commandType":"deconz_cmd","payload":"payload","payloadType":"msg","transitionTime":"","x":1450,"y":600,"wires":[]},{"id":"398b9b65.4cdd9c","type":"change","z":"16c20332.e278c5","name":"Turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":680,"wires":[["eafaf5ee.ae5b58","74c463a2.b7a1c4"]]},{"id":"5554c9da.7e4398","type":"change","z":"16c20332.e278c5","name":"Turn on","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":540,"wires":[["eafaf5ee.ae5b58","32287474.613b04"]]},{"id":"ebba05bb.27d8f","type":"exec","z":"16c20332.e278c5","command":"python3  /home/pi/.node-red/LSTM_AC_1.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Execute ML for AC","x":1290,"y":1080,"wires":[["8050f1e7.191e2","234ecb13.b77104","cf791b9b.40cbf"],[],[]]},{"id":"8050f1e7.191e2","type":"switch","z":"16c20332.e278c5","name":"On/Off AC decision","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0.5","vt":"num"},{"t":"lt","v":"0.5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1630,"y":1080,"wires":[["8ff12647.56d318"],["661faf9f.662c58"]]},{"id":"b2ad9dca.38cec8","type":"deconz-output","z":"16c20332.e278c5","name":"AC","server":"e503d696.15b4b","device":{"length":0,"prevObject":{"length":0,"prevObject":{"0":{"location":{"href":"http://192.168.0.14:1880/#flow/16c20332.e278c5","origin":"http://192.168.0.14:1880","protocol":"http:","host":"192.168.0.14:1880","hostname":"192.168.0.14","port":"1880","pathname":"/","search":"","hash":"#flow/16c20332.e278c5"},"jQuery34103081829355360741":{"events":{"mouseup":[{"type":"mouseup","origType":"mouseup","guid":3,"namespace":""}],"click":[{"type":"click","origType":"click","data":null,"guid":3204,"namespace":""},{"type":"click","origType":"click","data":null,"guid":3217,"namespace":""},{"type":"click","origType":"click","data":null,"guid":3458,"namespace":""},{"type":"click","origType":"click","data":null,"guid":3473,"namespace":""},{"type":"click","origType":"click","data":null,"guid":5596,"namespace":""},{"type":"click","origType":"click","data":null,"guid":5607,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6012,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6023,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6280,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6291,"namespace":""},{"type":"click","origType":"click","guid":6836,"namespace":"red-ui-menu"}]},"focusin":3}},"length":1}}},"device_name":"","command":"on","commandType":"deconz_cmd","payload":"payload","payloadType":"msg","transitionTime":"","x":2070,"y":1100,"wires":[]},{"id":"661faf9f.662c58","type":"change","z":"16c20332.e278c5","name":"Turn on ","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1840,"y":1120,"wires":[["b2ad9dca.38cec8","c7a886c5.0e1c2"]]},{"id":"8ff12647.56d318","type":"change","z":"16c20332.e278c5","name":"Turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":1060,"wires":[["b2ad9dca.38cec8","e9a23a1.215fdc8"]]},{"id":"370b26cf.eea49a","type":"deconz-get","z":"16c20332.e278c5","name":"Temp","server":"e503d696.15b4b","device":"28:6d:97:00:01:08:b7:50-01-0402","device_name":"Motion Sensor : ZHATemperature","state":"0","x":650,"y":500,"wires":[["10b7d425.1aaa44"]]},{"id":"10b7d425.1aaa44","type":"function","z":"16c20332.e278c5","name":"temp value","func":"\nmsg.payload = msg.payload.temperature;\nmsg.topic = 'temp';\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":500,"wires":[["1521f82d.109d08"]]},{"id":"32287474.613b04","type":"debug","z":"16c20332.e278c5","name":"Turn on Light","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1500,"y":540,"wires":[]},{"id":"74c463a2.b7a1c4","type":"debug","z":"16c20332.e278c5","name":"Turn off Light","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2120,"y":700,"wires":[]},{"id":"e9a23a1.215fdc8","type":"debug","z":"16c20332.e278c5","name":"Turn off AC","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2190,"y":1060,"wires":[]},{"id":"c7a886c5.0e1c2","type":"debug","z":"16c20332.e278c5","name":"Turn on AC","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2150,"y":1140,"wires":[]},{"id":"68f22776.432958","type":"join","z":"16c20332.e278c5","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1550,"y":780,"wires":[["44e223a1.7af764"]]},{"id":"44e223a1.7af764","type":"change","z":"16c20332.e278c5","name":"","rules":[{"t":"set","p":"result","pt":"msg","to":"payload[1]-payload[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":780,"wires":[["96a184bc.e5288","f6e47abf.5225e8","5b69d12.be495b"]]},{"id":"da847d4.5e99c","type":"function","z":"16c20332.e278c5","name":"start light task","func":"var date = new Date();\nvar timestamp = date.getTime();\nmsg.payload = timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":780,"wires":[["68f22776.432958"]]},{"id":"96a184bc.e5288","type":"function","z":"16c20332.e278c5","name":"storeLights values in Array","func":"context.data = context.data || {};\ncontext.data.result = msg.result;\nvar result = context.data.result;\n\nvar raw_data = result;\n\nreturn {payload: raw_data};\n\n    \n","outputs":1,"noerr":0,"x":1960,"y":760,"wires":[["c5b88fde.ab4c4"]]},{"id":"6e4d23d2.e39624","type":"join","z":"16c20332.e278c5","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1450,"y":1200,"wires":[["799580d5.417138"]]},{"id":"799580d5.417138","type":"change","z":"16c20332.e278c5","name":"","rules":[{"t":"set","p":"result","pt":"msg","to":"payload[1]-payload[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":1220,"wires":[["da51d9ea.6db928","f7d95765.3c7fd8","eadf79f3.6ee04"]]},{"id":"234ecb13.b77104","type":"function","z":"16c20332.e278c5","name":"start AC task","func":"var date = new Date();\nvar timestamp = date.getTime();\nmsg.payload = timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1200,"wires":[["6e4d23d2.e39624"]]},{"id":"f6e47abf.5225e8","type":"cpu","z":"16c20332.e278c5","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":1930,"y":800,"wires":[["79792b9e.8e3a64"]]},{"id":"5c39d59f.7283fc","type":"function","z":"16c20332.e278c5","name":"light task info","func":"context.data = context.data || {};\nswitch (msg.topic) {\n    case \"task\":\n      context.data.task = msg.payload;\n      msg = null; \n      break;\n    case \"cpu\":\n      context.data.cpu = msg.payload;\n      msg = null; \n      break;\n    case \"temp\":\n      context.data.temp = msg.payload;\n      msg = null; \n      break;\n    default:\n      msg = null;\n      break;\n}\nif (context.data.task != null  && context.data.cpu != null && context.data.temp != null ) {\n    var task = context.data.task;\n    var cpu = context.data.cpu;\n    var temp = context.data.temp;\n    var raw_data = [ task, cpu, temp, 'light'];\n    context.data = null;\n    return {payload: raw_data};\n} else return msg;\n","outputs":1,"noerr":0,"x":2330,"y":800,"wires":[["f0afa576.b772b8","20bb2881.00b1f8"]]},{"id":"c5b88fde.ab4c4","type":"function","z":"16c20332.e278c5","name":"cpu topic","func":"\nmsg.topic = 'task'\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":2180,"y":760,"wires":[["5c39d59f.7283fc"]]},{"id":"79792b9e.8e3a64","type":"function","z":"16c20332.e278c5","name":"cpu topic","func":"\nmsg.topic = 'cpu'\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":2120,"y":800,"wires":[["5c39d59f.7283fc"]]},{"id":"c31530fc.29ff78","type":"function","z":"16c20332.e278c5","name":"cpu topic","func":"\nmsg.topic = 'temp'\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":2120,"y":860,"wires":[["5c39d59f.7283fc"]]},{"id":"5b69d12.be495b","type":"cpu","z":"16c20332.e278c5","name":"","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":1930,"y":840,"wires":[["c31530fc.29ff78"]]},{"id":"cc55c27a.a85658","type":"debug","z":"16c20332.e278c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1540,"y":500,"wires":[]},{"id":"4e60d71c.88e498","type":"csv","z":"16c20332.e278c5","name":"","sep":",","hdrin":true,"hdrout":false,"multi":"one","ret":"\\n","temp":"period, temp, cpu, taskName","skip":"0","strings":true,"x":2510,"y":1280,"wires":[["c5898aea.c99f4"]]},{"id":"c5898aea.c99f4","type":"file","z":"16c20332.e278c5","name":"Time offload","filename":"/home/pi/.node-red/Timeoffload.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":2710,"y":1260,"wires":[[]]},{"id":"eadf79f3.6ee04","type":"function","z":"16c20332.e278c5","name":"store ac task pereiod","func":"context.data = context.data || {};\ncontext.data.result = msg.result;\nvar result = context.data.result;\n\nvar raw_data = result;\n\nreturn {payload: raw_data};\n\n    \n","outputs":1,"noerr":0,"x":1880,"y":1180,"wires":[["993b55d1.13b708"]]},{"id":"f7d95765.3c7fd8","type":"cpu","z":"16c20332.e278c5","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":1870,"y":1240,"wires":[["622bb41.10e744c"]]},{"id":"4217f3a5.7a73ac","type":"function","z":"16c20332.e278c5","name":"AC task info","func":"context.data = context.data || {};\nswitch (msg.topic) {\n    case \"task\":\n      context.data.task = msg.payload;\n      msg = null; \n      break;\n    case \"cpu\":\n      context.data.cpu = msg.payload;\n      msg = null; \n      break;\n    case \"temp\":\n      context.data.temp = msg.payload;\n      msg = null; \n      break;\n    default:\n      msg = null;\n      break;\n}\nif (context.data.task != null  && context.data.cpu != null && context.data.temp != null ) {\n    var task = context.data.task;\n    var cpu = context.data.cpu;\n    var temp = context.data.temp;\n    var raw_data = [ task, cpu, temp, 'ac'];\n    context.data = null;\n    return {payload: raw_data};\n} else return msg;\n","outputs":1,"noerr":0,"x":2330,"y":1260,"wires":[["4e60d71c.88e498","6c26cc84.97bec4"]]},{"id":"993b55d1.13b708","type":"function","z":"16c20332.e278c5","name":"task period topic","func":"\nmsg.topic = 'task'\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":2150,"y":1180,"wires":[["4217f3a5.7a73ac"]]},{"id":"622bb41.10e744c","type":"function","z":"16c20332.e278c5","name":"cpu topic","func":"\nmsg.topic = 'cpu'\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":2080,"y":1240,"wires":[["4217f3a5.7a73ac"]]},{"id":"54125888.a5327","type":"function","z":"16c20332.e278c5","name":"temp topic","func":"\nmsg.topic = 'temp'\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":2070,"y":1340,"wires":[["4217f3a5.7a73ac"]]},{"id":"6c26cc84.97bec4","type":"debug","z":"16c20332.e278c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2510,"y":1160,"wires":[]},{"id":"da51d9ea.6db928","type":"cpu","z":"16c20332.e278c5","name":"cpu temp","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":1860,"y":1320,"wires":[["54125888.a5327"]]},{"id":"b4cd42ed.922608","type":"inject","z":"16c20332.e278c5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":1020,"wires":[["aab103f6.ee793","da847d4.5e99c","234ecb13.b77104","ebba05bb.27d8f","cd1f5ea3.e6eb1","9d05de41.35008","b41e648f.b55378","155b441d.a58f04"]]},{"id":"cf791b9b.40cbf","type":"delay","z":"16c20332.e278c5","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"10","randomUnits":"seconds","drop":false,"x":360,"y":1100,"wires":[["6010fe96.904798"]]},{"id":"cdaabf31.dfbe9","type":"delay","z":"16c20332.e278c5","name":"","pauseType":"random","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"10","randomUnits":"seconds","drop":false,"x":380,"y":640,"wires":[["f8c3ac76.8ec11"]]},{"id":"cd1f5ea3.e6eb1","type":"exec","z":"16c20332.e278c5","command":"python3  /home/pi/.node-red/LSTM_Light_2.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Execute ML for Light 1","x":1340,"y":860,"wires":[["ff83f6db.e38a88","5a1e9fc3.a93a1","9d05de41.35008"],[],[]]},{"id":"5a1e9fc3.a93a1","type":"delay","z":"16c20332.e278c5","name":"","pauseType":"random","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"10","randomUnits":"seconds","drop":false,"x":380,"y":880,"wires":[["156d8d4a.ab8103"]]},{"id":"7b17522e.9aaf3c","type":"join","z":"16c20332.e278c5","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1490,"y":940,"wires":[["4022d4db.2aace4"]]},{"id":"4022d4db.2aace4","type":"change","z":"16c20332.e278c5","name":"","rules":[{"t":"set","p":"result","pt":"msg","to":"payload[1]-payload[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":940,"wires":[["43d6c9ff.4ea65","d0ce3727.e724e","904dac91.d2855"]]},{"id":"9d05de41.35008","type":"function","z":"16c20332.e278c5","name":"start light task","func":"var date = new Date();\nvar timestamp = date.getTime();\nmsg.payload = timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":940,"wires":[["7b17522e.9aaf3c"]]},{"id":"f0afa576.b772b8","type":"csv","z":"16c20332.e278c5","name":"","sep":",","hdrin":true,"hdrout":false,"multi":"one","ret":"\\n","temp":"period, temp, cpu, taskName","skip":"0","strings":true,"x":2510,"y":880,"wires":[["f26b66fa.c18bb"]]},{"id":"f26b66fa.c18bb","type":"file","z":"16c20332.e278c5","name":"Time offload","filename":"/home/pi/.node-red/Timeoffload.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":2690,"y":900,"wires":[[]]},{"id":"43d6c9ff.4ea65","type":"function","z":"16c20332.e278c5","name":"storeLights values in Array","func":"context.data = context.data || {};\ncontext.data.result = msg.result;\nvar result = context.data.result;\n\nvar raw_data = result;\n\nreturn {payload: raw_data};\n\n    \n","outputs":1,"noerr":0,"x":1920,"y":920,"wires":[["5232ffd3.fa2068"]]},{"id":"d0ce3727.e724e","type":"cpu","z":"16c20332.e278c5","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":1890,"y":960,"wires":[["ce5f4bd7.2e8ca8"]]},{"id":"8f0e1e2f.59163","type":"function","z":"16c20332.e278c5","name":"light task info","func":"context.data = context.data || {};\nswitch (msg.topic) {\n    case \"task\":\n      context.data.task = msg.payload;\n      msg = null; \n      break;\n    case \"cpu\":\n      context.data.cpu = msg.payload;\n      msg = null; \n      break;\n    case \"temp\":\n      context.data.temp = msg.payload;\n      msg = null; \n      break;\n    default:\n      msg = null;\n      break;\n}\nif (context.data.task != null  && context.data.cpu != null && context.data.temp != null ) {\n    var task = context.data.task;\n    var cpu = context.data.cpu;\n    var temp = context.data.temp;\n    var raw_data = [ task, cpu, temp, 'light'];\n    context.data = null;\n    return {payload: raw_data};\n} else return msg;\n","outputs":1,"noerr":0,"x":2310,"y":960,"wires":[["f0afa576.b772b8","20bb2881.00b1f8"]]},{"id":"5232ffd3.fa2068","type":"function","z":"16c20332.e278c5","name":"cpu topic","func":"\nmsg.topic = 'task'\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":2120,"y":920,"wires":[["8f0e1e2f.59163"]]},{"id":"ce5f4bd7.2e8ca8","type":"function","z":"16c20332.e278c5","name":"cpu topic","func":"\nmsg.topic = 'cpu'\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":2120,"y":960,"wires":[["8f0e1e2f.59163"]]},{"id":"6b85472c.41995","type":"function","z":"16c20332.e278c5","name":"cpu topic","func":"\nmsg.topic = 'temp'\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":2100,"y":1000,"wires":[["8f0e1e2f.59163"]]},{"id":"904dac91.d2855","type":"cpu","z":"16c20332.e278c5","name":"","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":1890,"y":1000,"wires":[["6b85472c.41995"]]},{"id":"b41e648f.b55378","type":"exec","z":"16c20332.e278c5","command":"python3  /home/pi/.node-red/LSTM_AC_2.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Execute ML for AC","x":1290,"y":1360,"wires":[["5eeef58b.289684","155b441d.a58f04","b174d0e6.c142c8"],[],[]]},{"id":"5eeef58b.289684","type":"switch","z":"16c20332.e278c5","name":"On/Off AC decision","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0.5","vt":"num"},{"t":"lt","v":"0.5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1630,"y":1360,"wires":[[],["4e82df5b.eeca2"]]},{"id":"ef53bbb1.86c3f8","type":"deconz-output","z":"16c20332.e278c5","name":"AC","server":"e503d696.15b4b","device":{"length":0,"prevObject":{"length":0,"prevObject":{"0":{"location":{"href":"http://192.168.0.14:1880/#flow/16c20332.e278c5","origin":"http://192.168.0.14:1880","protocol":"http:","host":"192.168.0.14:1880","hostname":"192.168.0.14","port":"1880","pathname":"/","search":"","hash":"#flow/16c20332.e278c5"},"jQuery34103081829355360741":{"events":{"mouseup":[{"type":"mouseup","origType":"mouseup","guid":3,"namespace":""}],"click":[{"type":"click","origType":"click","data":null,"guid":3204,"namespace":""},{"type":"click","origType":"click","data":null,"guid":3217,"namespace":""},{"type":"click","origType":"click","data":null,"guid":3458,"namespace":""},{"type":"click","origType":"click","data":null,"guid":3473,"namespace":""},{"type":"click","origType":"click","data":null,"guid":5596,"namespace":""},{"type":"click","origType":"click","data":null,"guid":5607,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6012,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6023,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6280,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6291,"namespace":""},{"type":"click","origType":"click","guid":6836,"namespace":"red-ui-menu"}]},"focusin":3}},"length":1}}},"device_name":"","command":"on","commandType":"deconz_cmd","payload":"payload","payloadType":"msg","transitionTime":"","x":2070,"y":1380,"wires":[]},{"id":"4e82df5b.eeca2","type":"change","z":"16c20332.e278c5","name":"Turn on ","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1840,"y":1400,"wires":[["ef53bbb1.86c3f8","298abb61.6a166c"]]},{"id":"298abb61.6a166c","type":"debug","z":"16c20332.e278c5","name":"Turn on AC","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2150,"y":1420,"wires":[]},{"id":"7c056b96.7aed04","type":"join","z":"16c20332.e278c5","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1450,"y":1480,"wires":[["a34cdd5b.2b7a88"]]},{"id":"a34cdd5b.2b7a88","type":"change","z":"16c20332.e278c5","name":"","rules":[{"t":"set","p":"result","pt":"msg","to":"payload[1]-payload[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":1500,"wires":[["e25acaa2.7c5d","b3a70578.e0f18","9d69e04d.311af"]]},{"id":"155b441d.a58f04","type":"function","z":"16c20332.e278c5","name":"start AC task","func":"var date = new Date();\nvar timestamp = date.getTime();\nmsg.payload = timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1480,"wires":[["7c056b96.7aed04"]]},{"id":"9d69e04d.311af","type":"function","z":"16c20332.e278c5","name":"store ac task pereiod","func":"context.data = context.data || {};\ncontext.data.result = msg.result;\nvar result = context.data.result;\n\nvar raw_data = result;\n\nreturn {payload: raw_data};\n\n    \n","outputs":1,"noerr":0,"x":1880,"y":1460,"wires":[["85b2e8c2.c99fb"]]},{"id":"b3a70578.e0f18","type":"cpu","z":"16c20332.e278c5","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":1870,"y":1520,"wires":[["942f1576.99b62"]]},{"id":"fb5f59d5.63a338","type":"function","z":"16c20332.e278c5","name":"AC task info","func":"context.data = context.data || {};\nswitch (msg.topic) {\n    case \"task\":\n      context.data.task = msg.payload;\n      msg = null; \n      break;\n    case \"cpu\":\n      context.data.cpu = msg.payload;\n      msg = null; \n      break;\n    case \"temp\":\n      context.data.temp = msg.payload;\n      msg = null; \n      break;\n    default:\n      msg = null;\n      break;\n}\nif (context.data.task != null  && context.data.cpu != null && context.data.temp != null ) {\n    var task = context.data.task;\n    var cpu = context.data.cpu;\n    var temp = context.data.temp;\n    var raw_data = [ task, cpu, temp, 'ac'];\n    context.data = null;\n    return {payload: raw_data};\n} else return msg;\n","outputs":1,"noerr":0,"x":2330,"y":1540,"wires":[["4e60d71c.88e498","6c26cc84.97bec4"]]},{"id":"85b2e8c2.c99fb","type":"function","z":"16c20332.e278c5","name":"task period topic","func":"\nmsg.topic = 'task'\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":2150,"y":1460,"wires":[["fb5f59d5.63a338"]]},{"id":"942f1576.99b62","type":"function","z":"16c20332.e278c5","name":"cpu topic","func":"\nmsg.topic = 'cpu'\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":2080,"y":1520,"wires":[["fb5f59d5.63a338"]]},{"id":"ae8d4b03.ea33","type":"function","z":"16c20332.e278c5","name":"temp topic","func":"\nmsg.topic = 'temp'\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":2070,"y":1620,"wires":[["fb5f59d5.63a338"]]},{"id":"e25acaa2.7c5d","type":"cpu","z":"16c20332.e278c5","name":"cpu temp","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":1860,"y":1600,"wires":[["ae8d4b03.ea33"]]},{"id":"b174d0e6.c142c8","type":"delay","z":"16c20332.e278c5","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"10","randomUnits":"seconds","drop":false,"x":360,"y":1240,"wires":[["853ed47a.5f99d"]]},{"id":"20bb2881.00b1f8","type":"debug","z":"16c20332.e278c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2650,"y":740,"wires":[]},{"id":"f8c3ac76.8ec11","type":"cpu","z":"16c20332.e278c5","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":570,"y":780,"wires":[["1588e5c3.186bc2"]]},{"id":"1588e5c3.186bc2","type":"switch","z":"16c20332.e278c5","name":"Offload the task decision","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"75","vt":"num"},{"t":"gt","v":"75","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":760,"wires":[["aab103f6.ee793","da847d4.5e99c"],["6aac8312.bb4bf4","cdaabf31.dfbe9"]]},{"id":"156d8d4a.ab8103","type":"cpu","z":"16c20332.e278c5","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":530,"y":940,"wires":[["1ff61d29.904f23"]]},{"id":"1ff61d29.904f23","type":"switch","z":"16c20332.e278c5","name":"Offload the task decision","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"75","vt":"num"},{"t":"gt","v":"75","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":940,"wires":[["9d05de41.35008","cd1f5ea3.e6eb1"],["6aac8312.bb4bf4","5a1e9fc3.a93a1"]]},{"id":"6010fe96.904798","type":"cpu","z":"16c20332.e278c5","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":510,"y":1140,"wires":[["aec4cebb.2fbd58"]]},{"id":"aec4cebb.2fbd58","type":"switch","z":"16c20332.e278c5","name":"Offload the task decision","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"75","vt":"num"},{"t":"gt","v":"75","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":1140,"wires":[["ebba05bb.27d8f","234ecb13.b77104"],["c8765ec2.3cc038","cf791b9b.40cbf"]]},{"id":"853ed47a.5f99d","type":"cpu","z":"16c20332.e278c5","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":490,"y":1180,"wires":[["33f9324f.0766fe"]]},{"id":"33f9324f.0766fe","type":"switch","z":"16c20332.e278c5","name":"Offload the task decision","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"75","vt":"num"},{"t":"gt","v":"75","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":1200,"wires":[["b41e648f.b55378","155b441d.a58f04"],["c8765ec2.3cc038","b174d0e6.c142c8"]]},{"id":"377ecce7.3fd404","type":"wiotp in","z":"16c20332.e278c5","authType":"g","deviceKey":"bf7a353f.830c7","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"","x":710,"y":2940,"wires":[["f7df1ef4.51da2"]]},{"id":"7dc62822.9c5b78","type":"deconz-output","z":"16c20332.e278c5","name":"Turn on/ Off AC","server":"e503d696.15b4b","device":"f0:d1:b8:00:00:10:ef:ce-01","device_name":"Smart plug 1 : Smart plug","command":"on","commandType":"deconz_cmd","payload":"0","payloadType":"deconz_payload","transitionTime":"","x":1540,"y":2860,"wires":[]},{"id":"d1e0b6cd.a58d48","type":"deconz-output","z":"16c20332.e278c5","name":"Turn on/ Off light","server":"e503d696.15b4b","device":"f0:d1:b8:00:00:10:ef:ce-01","device_name":"Smart plug 1 : Smart plug","command":"on","commandType":"deconz_cmd","payload":"0","payloadType":"deconz_payload","transitionTime":"","x":1550,"y":2740,"wires":[]},{"id":"a4388f76.24daa","type":"wiotp out","z":"16c20332.e278c5","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"bf7a353f.830c7","deviceType":"IoT_Gateway","deviceId":"SmartHomeGateway","event":"SensorsValues","format":"json","qos":"","name":"temp device","x":1670,"y":2320,"wires":[]},{"id":"6aac8312.bb4bf4","type":"function","z":"16c20332.e278c5","name":"cpu topic","func":"\nmsg.topic = 'cpu'\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":880,"y":2260,"wires":[["ab3efdbc.375098"]]},{"id":"8b018028.fd5188","type":"function","z":"16c20332.e278c5","name":"sensors values for light","func":"\nmsg.topic = 'sensorslight'\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":870,"y":2145,"wires":[["ab3efdbc.375098"]]},{"id":"ab3efdbc.375098","type":"function","z":"16c20332.e278c5","name":"offload Light task to cloud","func":"context.data = context.data || {};\nswitch (msg.topic) {\n    case \"cpu\":\n      context.data.cpu = msg.payload;\n      msg = null; \n      break;\n    case \"sensorslight\":\n      context.data.sensors = msg.payload;\n      msg = null; \n      break;\n     \n    default:\n      msg = null;\n      break;\n\n}\n\nif (context.data.cpu != null  &&  context.data.sensors != null) {\n    var cpu = context.data.cpu;\n    var sensors = context.data.sensors;\n    \n    var raw_data  = sensors;\n    raw_data.push(\"light\");\n    context.data = null;\n    return {payload: raw_data};\n} else return msg;\n","outputs":1,"noerr":0,"x":1150,"y":2262,"wires":[["a4388f76.24daa","b795dee0.374b88"]]},{"id":"4dc9ac01.8d8224","type":"function","z":"16c20332.e278c5","name":"sensors values for AC","func":"\nmsg.topic = 'sensorsac'\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":740,"y":2540,"wires":[["434c6095.17d5e8"]]},{"id":"434c6095.17d5e8","type":"function","z":"16c20332.e278c5","name":"offload AC task to cloud","func":"context.data = context.data || {};\nswitch (msg.topic) {\n    case \"cpu\":\n      context.data.cpu = msg.payload;\n      msg = null; \n      break;\n    case \"sensorsac\":\n      context.data.sensors = msg.payload;\n      msg = null; \n      break;\n     \n    default:\n      msg = null;\n      break;\n\n}\n\nif (context.data.cpu != null  &&  context.data.sensors != null) {\n    var cpu = context.data.cpu;\n    var sensors = context.data.sensors;\n    \n    var raw_data = sensors;\n     raw_data.push(\"ac\");\n    context.data = null;\nreturn {payload: raw_data};\n} else return msg;\n   \n","outputs":1,"noerr":0,"x":1090,"y":2440,"wires":[["4898988f.9d06f","a4388f76.24daa"]]},{"id":"f7df1ef4.51da2","type":"switch","z":"16c20332.e278c5","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"light turn on","vt":"str"},{"t":"eq","v":"light turn off","vt":"str"},{"t":"eq","v":"ac turn on","vt":"str"},{"t":"eq","v":"ac turn off","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1030,"y":2960,"wires":[["d1e0b6cd.a58d48","5d509392.1e8384","b795dee0.374b88"],["7dc62822.9c5b78","de34ad3b.acc098","b795dee0.374b88"],["fb03a775.611e7","2c3ce3d3.2d8964","4898988f.9d06f"],["b391aec1.0d7288","28433fe7.8ad26","4898988f.9d06f"]]},{"id":"5d509392.1e8384","type":"debug","z":"16c20332.e278c5","name":"Turn Light On","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"command","targetType":"msg","x":1540,"y":2680,"wires":[]},{"id":"de34ad3b.acc098","type":"debug","z":"16c20332.e278c5","name":"Turn Light Off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"command","targetType":"msg","x":1540,"y":2800,"wires":[]},{"id":"28433fe7.8ad26","type":"deconz-output","z":"16c20332.e278c5","name":"Turn on/ Off AC","server":"e503d696.15b4b","device":"f0:d1:b8:00:00:10:ef:ce-01","device_name":"Smart plug 1 : Smart plug","command":"on","commandType":"deconz_cmd","payload":"0","payloadType":"deconz_payload","transitionTime":"","x":1500,"y":3120,"wires":[]},{"id":"2c3ce3d3.2d8964","type":"deconz-output","z":"16c20332.e278c5","name":"Turn on/ Off light","server":"e503d696.15b4b","device":"f0:d1:b8:00:00:10:ef:ce-01","device_name":"Smart plug 1 : Smart plug","command":"on","commandType":"deconz_cmd","payload":"0","payloadType":"deconz_payload","transitionTime":"","x":1510,"y":2980,"wires":[]},{"id":"fb03a775.611e7","type":"debug","z":"16c20332.e278c5","name":"Turn AC On","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"command","targetType":"msg","x":1530,"y":2920,"wires":[]},{"id":"b391aec1.0d7288","type":"debug","z":"16c20332.e278c5","name":"Turn AC Off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"command","targetType":"msg","x":1510,"y":3040,"wires":[]},{"id":"8322d0a8.296628","type":"join","z":"16c20332.e278c5","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1650,"y":2520,"wires":[["6fdcf7fb.92aa6"]]},{"id":"6fdcf7fb.92aa6","type":"change","z":"16c20332.e278c5","name":"","rules":[{"t":"set","p":"result","pt":"msg","to":"payload[1]-payload[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":2520,"wires":[["4a648f15.9e6bd8","41370baa.9d92ec","c1addac4.59c49"]]},{"id":"b795dee0.374b88","type":"function","z":"16c20332.e278c5","name":"Light task cloud","func":"var date = new Date();\nvar timestamp = date.getTime();\nmsg.payload = timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2500,"wires":[["8322d0a8.296628"]]},{"id":"4a648f15.9e6bd8","type":"function","z":"16c20332.e278c5","name":"storeLights values in Array","func":"context.data = context.data || {};\ncontext.data.result = msg.result;\nvar result = context.data.result;\n\nvar raw_data = result;\n\nreturn {payload: raw_data};\n\n    \n","outputs":1,"noerr":0,"x":2100,"y":2520,"wires":[["43dbe9d6.4418f8"]]},{"id":"110964c.5dcd61b","type":"join","z":"16c20332.e278c5","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1630,"y":2620,"wires":[["347fb2dd.1186a6"]]},{"id":"347fb2dd.1186a6","type":"change","z":"16c20332.e278c5","name":"","rules":[{"t":"set","p":"result","pt":"msg","to":"payload[1]-payload[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":2640,"wires":[["4a648f15.9e6bd8","41370baa.9d92ec","c1addac4.59c49"]]},{"id":"4898988f.9d06f","type":"function","z":"16c20332.e278c5","name":"AC task cloud","func":"var date = new Date();\nvar timestamp = date.getTime();\nmsg.payload = timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2600,"wires":[["110964c.5dcd61b"]]},{"id":"41370baa.9d92ec","type":"cpu","z":"16c20332.e278c5","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":2130,"y":2620,"wires":[["177adff7.3f7ea"]]},{"id":"43dbe9d6.4418f8","type":"function","z":"16c20332.e278c5","name":"cpu topic","func":"\nmsg.topic = 'task'\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":2340,"y":2520,"wires":[["29386b2a.7dda34"]]},{"id":"177adff7.3f7ea","type":"function","z":"16c20332.e278c5","name":"cpu topic","func":"\nmsg.topic = 'cpu'\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":2340,"y":2600,"wires":[["29386b2a.7dda34"]]},{"id":"dbc107f2.f5ce2","type":"function","z":"16c20332.e278c5","name":"cpu topic","func":"\nmsg.topic = 'temp'\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":2320,"y":2700,"wires":[["29386b2a.7dda34"]]},{"id":"c1addac4.59c49","type":"cpu","z":"16c20332.e278c5","name":"temp","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":2110,"y":2700,"wires":[["dbc107f2.f5ce2"]]},{"id":"e0ed17d8.f44d38","type":"csv","z":"16c20332.e278c5","name":"","sep":",","hdrin":true,"hdrout":false,"multi":"one","ret":"\\n","temp":"task, temp, cpu","skip":"0","strings":true,"x":2850,"y":2580,"wires":[["fdb13c90.f615d"]]},{"id":"fdb13c90.f615d","type":"file","z":"16c20332.e278c5","name":"Time  offload","filename":"/home/pi/.node-red/Timeoffload_cloud_tasks.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":3070,"y":2580,"wires":[[]]},{"id":"29386b2a.7dda34","type":"function","z":"16c20332.e278c5","name":"store AC values in Array","func":"context.data = context.data || {};\nswitch (msg.topic) {\n    case \"task\":\n      context.data.task = msg.payload;\n      msg = null; \n      break;\n    case \"cpu\":\n      context.data.cpu = msg.payload;\n      msg = null; \n      break;\n    case \"temp\":\n      context.data.temp = msg.payload;\n      msg = null; \n      break;\n    default:\n      msg = null;\n      break;\n}\nif (context.data.task != null  && context.data.cpu != null && context.data.temp != null ) {\n    var task = context.data.task;\n    var cpu = context.data.cpu;\n    var temp = context.data.temp;\n    var raw_data = [ task, cpu, temp];\n    context.data = null;\n    return {payload: raw_data};\n} else return msg;\n","outputs":1,"noerr":0,"x":2610,"y":2600,"wires":[["e0ed17d8.f44d38","7354f3a2.2975ec"]]},{"id":"7354f3a2.2975ec","type":"debug","z":"16c20332.e278c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2690,"y":2460,"wires":[]},{"id":"c8765ec2.3cc038","type":"function","z":"16c20332.e278c5","name":"cpu topic","func":"\nmsg.topic = 'cpu'\nreturn msg;\n\n\n\n\n\n    \n\n","outputs":1,"noerr":0,"x":780,"y":2480,"wires":[["434c6095.17d5e8"]]},{"id":"e503d696.15b4b","type":"deconz-server","z":"","name":"Phoscon-GW","ip":"192.168.0.14","port":"80","apikey":"1CD3CBEA04","ws_port":"443","secure":false,"polling":"15"},{"id":"bf7a353f.830c7","type":"wiotp-credentials","z":"","name":"","org":"1jnxp2","serverName":"1jnxp2.messaging.internetofthings.ibmcloud.com","devType":"IoT_Gateway","devId":"SmartHomeGateway","keepalive":"120","cleansession":false,"tls":"","usetls":false}]